@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.underline-effect {
  position: relative;
  color: #00bfff;
  display: inline-block; 
  transition: color 0.3s ease;
}

.underline-effect::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -2px;
  left: 0;
  background-color: #00bfff; 
  transition: width 0.3s ease, background-color 0.3s ease;
  transform: scaleX(0);
  transform-origin: bottom right;
}

.underline-effect:hover {
  color: #ff6347; 
}

.underline-effect:hover::after {
  transform: scaleX(1);
  background-color: #ff6347; 
}
